# Java
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.gradletasknamecache
gradle-app.setting
**/build/
!src/**/build/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.settings/
.classpath
.project
bin/

# VS Code
.vscode/
.code-workspace

# JavaFX
*.jfxbuild

# OS specific
## macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

## Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# Logs
*.log
logs/

